<!--
(??) you can use (call) the same component twice
(because components are reusable)
<app-server>app-server?</app-server>
<app-server>app-server?</app-server>

(28) square brackets indicates to angular that we are using property binding...we want to dynamically bind a property

(30) 
added >> click)="onCreateServer()"
parenthesis indicates event binding

(34)...commenting out...
<label>Server Name</label>
(older)
<input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"
    data-notes="(32)"
/>
<br />
-->

<label>Server Name</label>
(34)
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName"
/>
<br />

<!--
(35)
<p>serverName: {{serverName}}</p>

(37)
[disabled]="!allowNewServer" 
-->
<button 
    class="btn btn-primary" 
    (click)="onCreateServer()"
    [disabled]="(serverName.length === 0)"
>
    Add Server
</button>

<p *ngIf="serverCreated; else noServer"> 
    server was created, server name is <strong>{{ serverName }}</strong>
</p>
<ng-template #noServer>
    <p>
        server not created...waiting...for you to create a server...so please do it...
    </p> 
</ng-template>

<!-- 
<h3>onCreateServer()</h3>
(38)<p>serverCreationStatus: {{serverCreationStatus}}</p>
-->

<!--
<h3>allowNewServer</h3> 
<ul>
    <li> 
        Output via String Interpolation... 
        <span>{{ allowNewServer }}</span>
        <br />
        <em>Use case: when you want to output something (text) to the screen</em>
    </li>
    <li>
        Output via Property Binding...
        <span [innerText]="allowNewServer"></span> 
        <br />
        <em>Use case: when you want to change elements / element properties</em>
    </li>
</ul> 
Don't mix Property Binding and String Interpolation.
-->
<app-server>app-server?</app-server>
<app-server>app-server?</app-server>