<!--
(??) you can use (call) the same compone twice
(because components are reusable)
<app-server>app-server?</app-server>
<app-server>app-server?</app-server>

(28) square brackets indicates to angular that we are using property binding...we want to dynamically bind a property
-->

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
>
    Add Server
</button>

<h3>allowNewServer</h3>
<ul>
    <li>
        via String Interpolation: 
        <span>{{ allowNewServer }}</span>
        <br />
        Use case: when you want to output something (text) to the screen
    </li>
    <li>
        via Property Binding:  
        <span [innerText]="allowNewServer"></span> 
        <br />
        Use case: when you want to change elements / element properties
    </li>
</ul> 

Don't mix Property Binding and String Interpolation.

<app-server>app-server?< /app-server>
<app-server>app-server?</app-server>